{
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:react/recommended",
    "next"
  ],
  "rules": {
    "require-jsdoc": 0,

    // TODO: Remove when https://github.com/babel/babel-eslint/issues/530 fixed
    "template-curly-spacing": "off",
    "indent": "off"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  }
}
