.card {
  margin: 10px 5px;
  width: 300px;
  border-radius: 10px;
}

.extra {
  margin-left: auto;
  margin-bottom: 5px;
  font-style: italic;
  color: var(--mdc-theme-primary);
  &.size {
    text-transform: capitalize;
  }
  &.url {
    text-transform: lowercase;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.image-default {
  background-image: url('../../assets/dummy.jpg');
}

.type {
  text-transform: capitalize;
}
