@use 'sass:color';

@use 'variables.scss' as v;

.carousel {
  :global(.react-multiple-carousel__arrow) {
    background-color: color.adjust(v.$qutBlue, $alpha: -0.5);
  }

  :global(.react-multi-carousel-dot button) {
    border: none;
    background-color: lightgrey;
  }

  :global(.react-multi-carousel-dot--active button) {
    background-color: var(--qut-blue);
  }
}

.item {
  margin-bottom: 30px;
}
