.button {
  text-transform: none;
  width: 250px;
  margin: 0px auto;
  i {
    filter: brightness(0) invert(1);
  }
}

.content {
  height: 1000px;
}

.heading {
  margin: 40px 0px;
  text-align: center;
}
