$maxWidth: 1300px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --qut-blue: #00407a;
}

.markdown-body {
  margin: 20px 0px;

  .embedded-block {
    margin: 20px;
    text-align: center;
  }

  video {
    max-width: 100%;
  }
}

@mixin focus-box($color, $borderColor) {
  margin: 30px auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color;
  border-radius: 10px;
  border: 2px solid $borderColor;
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
}

.missing {
  @include focus-box(lightsalmon, salmon);
}

:not(pre) > code[class*='language-'] {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.notify {
  @include focus-box(lightcoral, crimson);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.mdc-top-app-bar__row {
  max-width: $maxWidth;
}

.slick-slider {
  margin-bottom: 25px;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-bottom-bar {
  width: 100%;
  max-width: $maxWidth;
}
