.main {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightsalmon;
  height: 300px;
  border-radius: 10px;
  border: 2px solid salmon;
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
}
