.banner-image {
  height: 300px;
  object-fit: cover;
  object-position: 50% 52.5%;
}
.carousel {
  margin: 50px;
  height: 75px;
}

.content {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1250px;
  width: 100%;
}

.main {
  height: 300px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 36px;
  a {
    text-decoration: underline;
  }
  p {
    margin: 1ch 0;
    text-align: center;
    max-width: 100ch;
    font-size: 1.15em;
  }
}
