.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.content {
  max-width: 100ch;
  width: 100%;
  padding: 10px;
}

.home {
  width: 100%;
}

.list {
  max-width: 1100px;
}

.progress {
  margin: 0px;
  padding: 20px;
  height: 1rem;
  font-size: 1rem;
  border-radius: 0px;

  a {
    font-weight: bold;
  }
}

.space {
  height: 128px;
}

@media screen and (min-width: 600px) {
  .space {
    height: 100px;
  }
}
