.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 50px;
}
.content {
  max-width: 100ch;
}

.home {
  max-width: 1200px;
}

.list {
  max-width: 1100px;
}

.progress {
  margin: 0px;
  padding: 20px;
  height: 1rem;
  font-size: 1rem;
  border-radius: 0px;

  a {
    font-weight: bold;
  }
}

.space {
  height: 100px;
}
