.heading {
  font-weight: bold;
  color: var(--mdc-theme-primary);
  margin: 40px 0px;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.entries {
  margin: 25px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  display: block;
  margin: 50px 20px;
}

.subheading {
  font-weight: bold;
  color: var(--mdc-theme-primary);
  margin-top: 40px;
}

