.bar {
  height: 100px;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 150px;
  margin: 20px;
  cursor: pointer;
}

.pages {
  display: flex;
  justify-content: flex-end;

  :global(.mdc-button) {
    width: 100px;
  }

  :global(.mdc-button__label) {
    text-transform: capitalize;
    color: white;
  }
}
