.bar {
  height: auto;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 100px;
  margin: 6px;
  cursor: pointer;
}

.logo-section {
  justify-content: left;
}

.pages {
  margin: 6px;
  display: flex;

  :global(.mdc-button) {
    width: 100px;
    font-weight: bold;
  }

  :global(.mdc-button__label) {
    text-transform: capitalize;
    color: white;
  }
}

.selected-tab {
  border-radius: 0px;
  border-bottom: white 3px solid;
  padding-top: 3px;
}

.row {
  display: flex;
  flex-direction: column;
  height: 128px;
}

@media screen and (min-width: 600px) {
  .logo {
    width: 150px;
  }
  .row {
    flex-direction: row;
    height: 100px;
  }
}
